<div class="animated fadeIn">
  <div class="row" ng-show="!myEtherWallet.show">
    <div class="col-md-12">
      <div class="form-group">
        <label for="privateKey">Paste/Type Your Private Key</label>
        <div>
          <textarea class="form-control" ng-model="myEtherWallet.privateKey" id="privateKey" name="privateKey" rows="4"></textarea>
        </div>
      </div>
      <div class="form-group">
          <label>ETH Node</label>
          <div>
            <select ng-model="apiNode" ng-options="item.id as item.name for item in nodes">
            </select>
          </div>
      </div>
      <div class="form-group">
        <p>
          <button type="button" class="btn btn-info btn-block" id="btnUnlock" ng-click="unlockWallet()">Unlock</button>
        </p>
      </div>
    </div>
  </div>
  <div class="row" id="myWallet" ng-show="myEtherWallet.show">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="m-0 h6">ETH</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-right">Address:</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext w-100" ng-model="myEtherWallet.address">
              </div>
            </div>
            <div class="form-group row">
              <label for="Balance" class="col-sm-2 col-form-label text-right">Balance:</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" readonly="readonly" class="form-control" id="Balance" name="Balance" placeholder="loading balance...."
                    ng-model="myEtherWallet.balance">
                  <div class="input-group-addon">ETH</div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="m-0 h6">Transfer</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-right">To Address:</label>
              <div class="col-sm-10">
                <input type="text"  class="form-control w-100" ng-model="myEtherWallet.tx.toAddress">
              </div>
            </div>
            <div class="form-group row">
              <label for="Balance" class="col-sm-2 col-form-label text-right">Amount:</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text"  class="form-control"
                    ng-model="myEtherWallet.tx.amount">
                  <div class="input-group-addon">ETH</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="Balance" class="col-sm-2 col-form-label text-right">Gas Limit:</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text"  class="form-control" id="Gas" name="TransferBalance"
                    ng-model="myEtherWallet.tx.gasLimit">
                  <div class="input-group-addon">Gas</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="Data" class="col-sm-2 col-form-label text-right">data:</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text"  class="form-control" id="Data" name="Data"
                    ng-model="myEtherWallet.tx.data">
                  <div class="input-group-addon">data</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <p>
                <button type="button" class="btn btn-info btn-block" ng-click="genTx()" >Generate Transaction</button>
              </p>
            </div>
            <div class="form-group row" ng-if="showSendTransaction">
              <div class="col-sm-6">
                <label>Raw Transaction:</label>
                <textarea  class="form-control w-100" ng-model="genTxData.rawJson"></textarea>
              </div>
              <div class="col-sm-6">
                <label>Signed Transaction:</label>
                <textarea   class="form-control w-100" ng-model="genTxData.signedTx"></textarea>
              </div>
            </div>
            <div class="form-group" ng-if="showSendTransaction">
              <p>
                <button type="button" class="btn btn-info btn-block" ng-click="sendTx()" id="btnSendTx" >Send Transaction</button>
              </p>
            </div>
          </form>
          <div ng-if="showTxHash" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> {{txHash}} <a href="{{myEtherWallet.wallet.explorerTX}}{{txHash}}" target="_blank">view tx</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="m-0 h6">Tokens</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Token</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="token in myEtherWallet.tokens">
                  <td>{{token.name}}</td>
                  <td>{{token.balance}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>