<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>MyEtherWallet</title>

  <link rel="stylesheet" href="../assets/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/components/bootstrap/dist/css/bootstrap-theme.min.css">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="../assets/css/photon.css">

  <!-- Javascript -->
</head>

<body>
  <div class="window">
    <!-- Your app's content goes inside .window-content -->
    <div class="window-content">
      <div class="pane-group">
        <div class="pane pane-sm sidebar">
          <nav class="nav-group">
            <h5 class="nav-group-title">MyEtherWallet</h5>
            <span class="nav-group-item">
              <span class="icon icon-home"></span>
              TX Status
            </span>
            <span class="nav-group-item active">
              <span class="icon icon-light-up"></span>
              Ether&Tokens
            </span>
          </nav>
        </div>

        <div class="pane">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <p>Paste/Type Your Private Key</p>
                <div>
                  <textarea class="form-control " id="privateKey" rows="4"></textarea>
                </div>
                <p>
                  <button type="button" class="btn btn-info btn-block" id="btnUnlock">Unlock</button>
                </p>

              </div>
            </div>
            <div class="row" id="myWallet" style="display: none;">
              <div class="col-md-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                      <p class="form-control-static" id="address"></p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Balance" class="col-sm-2 control-label">Balance</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <input type="text" class="form-control" id="Balance" name="Balance" placeholder="Amount">
                        <div class="input-group-addon">ETH</div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/components/web3/dist/web3.min.js"></script>
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <script src="../assets/components/jquery/dist/jquery.min.js"></script>
  <script>if (window.module) module = window.module;</script>
  <script src="../assets/components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script>
          var ethereumjsUtil = require('ethereumjs-util');

          class MyWallet {
            constructor(privateKey, address) {
              this.privateKey = privateKey;
              this.wallet = null;
              this.address = ethereumjsUtil.bufferToHex(address);

              this.init();
            }

            init() {
              $("#address").html(this.address);
              var web3 = new Web3();
              web3.setProvider(new web3.providers.HttpProvider('https://api.myetherapi.com/eth'));
              this.wallet = web3.eth;
              web3.eth.getBalance(this.address, 'latest', (error, result) => {
                var weiBalance = result.toNumber();
                var etherBalance = web3.fromWei(weiBalance, 'ether');
                $("#Balance").val(etherBalance);
              });
            }
          }
          $(document).ready(function () {

            var myEtherWallet = null;
            $("#btnUnlock").on('click', function (e) {
              var privateKey = $("#privateKey").val();
              if (privateKey) {

                var privBuff = new Buffer(privateKey, 'hex');
                if (ethereumjsUtil.isValidPrivate(privBuff)) {
                  var address = ethereumjsUtil.privateToAddress(privBuff);
                  // address = ethereumjsUtil.addHexPrefix(address);
                  var myWallet = new MyWallet(privBuff, address);
                  $("#myWallet").show();
                }
              }

            });


          });
  </script>
</body>

</html>